<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.codelabs.buildyourfirstmap">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_r2p"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_r2p"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <activity
            android:name=".MapaActivity"
            android:exported="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".LogrosActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".RetosActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".RetoRunningActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".SignUpActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".InventoryActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ShopActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>

    </application>



</manifest>